*{
    margin: 0 auto;
    box-sizing: border-box;
}
main{
    background-color: rgba(129, 114, 114, 0.089);
}
header{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    vertical-align: middle;
}
main{
    margin: auto 0;
    text-align: center;
    vertical-align: middle;
}